* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    min-height: 450px;
    background-image: url("./../img/pexels-photo-248515.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    /*opacity: 0.4; Непонмаю как сделать
    бекграунд прозрачым незадев содержимое?*/
}
footer {
    text-align: center;
    background: black;
    padding: 2em;
    width: 100%;
}

.headerbaner{
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    max-width: 700px;
}

.headerbottom{
    display: inline-block;
    background: #333;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

/*a {*/
/*    color: #ffffff; !* Цвет обычной ссылки *!*/
/*}*/
.headerbottom:visited {
    color: #ffffff; /* Цвет посещённой ссылки */
}
.headerbottom:hover {
    color: #000000; /* Цвет ссылки при наведении на нее курсора мыши */
    background: #ffffff;
}

.footerblok{
    display: inline-block;
    color: white;
    margin: 0 19%;
}

.blank{
    text-decoration: none;
    color: #2690d4;
}

.blank:visited {
    color: #2690d4;
}
.blank:hover{
    color: white;
}

#section-a{
    background: #eaeaea;
    text-align: center;
    padding: 1em;
    color: #333;
}

.content-development{
    display: inline-block;
    width: 430px;
}

#section-с{
    background: #eaeaea;
    text-align: center;
    padding: 1em;
    color: #333;
}

.content-needs{
    display: inline-block;
    width: 850px;
}